.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 243, 246);
  height: 90vh;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  margin: 2rem;
}
.avatar-img {
  border-radius: 50%;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
