.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(233, 217, 194);
}

#nav-name {
  padding-left: 3rem;
  font-size: 2rem;
  font-weight: 600;
}
