.footer {
  position: fixed;
  bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.footer li {
  margin: 0.5rem;
  font-size: 3rem;
}
.footer li:hover {
  cursor: pointer;
  color: rgba(223, 158, 37, 0.7);
}
