.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 3rem;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
  margin: 1rem;
}

.nav-link:hover {
  cursor: pointer;
}

.active {
  border-bottom: 1px solid red;
}
