.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 243, 246);
  height: 90vh;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}
.resume {
  color: rgb(0, 38, 100);
  font-weight: 500;
}
.resume-body {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.skills {
  list-style-type: circle;
}
.skills-title {
  font-size: 1.2rem;
  font-weight: 500;
}
